
body {
    margin: 0; /* Remove margens padrão */
    font-family: Tahoma, sans-serif; /* Define a fonte como Tahoma */
    display: flex; /* Usa flexbox para o layout */
    flex-direction: column; /* Organiza os filhos em coluna */
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura total da tela */
}
header {
    text-align: center; /* Centraliza o texto */
}
h1 {
        margin: 20px 0; /* Adiciona margem ao título */
}
main {
    display: flex; /* Usa flexbox para o layout */
    flex: 1; /* Faz o main ocupar o espaço restante */
    flex-direction: column; /* Organiza os filhos em coluna */
}
.fundo {
    display: flex; /* Utiliza o modelo flexível */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    background-color: #e6e6e6; /* Cor de fundo da seção */
    flex: 1; /* Faz a seção ocupar o espaço restante */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px; /* Adiciona padding interno */
}

.caixa {
    height: 300px; /* Altura da caixa */
    width: 300px; /* Largura da caixa */
    border-radius: 30%; /* Cantos arredondados */
    background-color: #ff7cab; /* Cor de fundo da caixa */
    display: flex; /* Utiliza o modelo flexível */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Alinha os itens verticalmente no centro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para profundidade */
}
.logo {
    width: 70%; /* Largura da imagem como 70% da caixa */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da caixa */
    height: auto; /* Mantém a proporção da imagem */
}
footer {
    width: 100%; /* Largura do rodapé */
    height: 100px; /* Altura do rodapé */
    display: flex; /* Usa flexbox para o layout */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    background-color: #f1f1f1; /* Cor de fundo do rodapé */
}
h4 {
    text-align: center; /* Centraliza o texto do rodapé */
    color: #7e7e7e; /* Cor do texto */
    margin: 0; /* Remove a margem padrão */
}